@media (max-width: 1024px){
    .gridContainer {
        grid-gap: 50px;
    }
    .titulo {
        justify-content: flex-end;
    }
    .iframe{
        height: 600px;
    }
    .pMerida1{
        gap: 50px;
        flex-wrap: wrap;
        .imgTeleferico{
            width: 100%;
        }
        .imgBusto{
            width: 100%;
        }
    }
}
