@media (max-width: 320px){
    .Logo img {
        width: 40px;
        }
    .footerStyle{
        padding-top: 30px;
    }
    .pArticule {
        margin: 0;
    }
    .descubre {
        font-size: 30px;
    }
    .mainTitle {
        font-size: 40px;
    }
    .titulo {
        margin: 20px;
    }
}