@media (max-width: 375px){
    .Logo {
        width: 40px;
    }
    .pArticule {
        margin: 0;
    }
    .pMerida1 {
        margin: 20px;
    }
    .pMerida1 p {
        font-size: 12px;
    }
    .pMerida2 {
        margin: 20px;
    }
    .pMerida2 {
        font-size: 12px;
    }
}