@media (max-width: 375px){
    .Logo {
        width: 40px;
    }
    .pArticule {
        margin: 0;
    }
    /*Pico Bolivar*/
    .nube{
        width: 100px;
        height: 50px;
        margin: 10%;
    }
    .pMerida1 {
        margin: 20px;
    }
    .pMerida1 p {
        font-size: 12px;
    }
    section{
        .pMerida2{
            margin: 0 20px 0 20px;
            font-size: 12px;
        }
    }
    /*Morrocoy*/
    .gridContainerMorrocoy{
        margin: 0 20px 0 20px;
    }
}