@media (max-width: 320px){
    .Logo img {
        width: 40px;
        }
    .footerStyle{
        padding-top: 30px;
    }
    .pArticule {
        margin: 0;
    }
    .descubre {
        font-size: 30px;
    }
    .mainTitle {
        font-size: 40px;
    }
    .titulo {
        margin: 20px;
    }
    /*Morrocoy*/
    .gridContainerMorrocoy{
        margin: 0 20px 0 20px;
    }
    /*Pico Bolivar*/
    .nube{
        width: 100px;
        height: 50px;
        margin: 10%;
    }
}