@media (max-width: 425px){
    header {
        height: 100vh;
        /*probar con la propiedasd 100vh*/
    }
    .Logo {
        width: 50px;
    }
    .titulo {
        justify-content: center;
    }
    .descubre {
        font-size: 35px;
        margin: 5px;
    }
    .mainTitle {
        font-size: 45px;
        margin: 0;
    }
    .introText {
        font-size: 12px;
        margin: 20px;
    }
    .pArticule {
        font-size: 12px;
    }
    /*Canaima*/
    .gridItemCanaima p {
        font-size: 12px;
    }
    .gridContainerCanaima {
        margin: 20px;
        row-gap: 20px;
    }
    /*Los Roques*/
    .gridContainerRoques p {
        font-size: 12px;
    }
    .tituloRoques{
        height: 70vh;
    }
    .boat-container {
        width: 75%;
        display: flex;
        justify-content: flex-end;
        img{
            width: 100px;
            display: none;
        }
    }
    
    .gridContainerRoques {
        padding: 0;
        margin: 20px;
        gap: 20px;
    }
    iframe{
        height: 256px;
    }
    /*Morrocoy*/
    .gridContainerMorrocoy{
        padding: 0;
        margin: 0 20px 0 20px;
        .gridItemMorrocoy {
            p{
                font-size: 12px;
            }
        }
    }
    /*Pico Bolivar*/
    .pMerida1{
        margin: 20px 20px 0 20px;
        p{
            font-size: 12px;
        }
    }
    section{
        .pMerida2{
            margin: 20px 20px 0 20px;
            font-size: 12px;
        }

    }
    .imgTeleferico{
        width: 100%;
    }
    .imgBusto{
        width: 100%;
    }
    /*index*/
    .gridItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .h2Articule{
        font-size: 18px;
        margin: 0;
        padding: 0;
    }
    .gridContainer{
        display: flex;
        .gridItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            a{
                .imgArticule{
                    width: 100%;
                }
            .h2Articule{
                padding: 0;
            }
            }
        }
    }

    .imagenCentrada {
        width: 100%;
        margin-bottom: 20px;
    }
    .pArticule {
        margin: 0;
    }
    .imgArticule {
        width: 100%;
    }
    /*Footer*/
    .footerStyle {
        background-size: cover;
        padding: 0;
        margin: 0;
        padding-top: 30px;
        ul{
            padding-right: 0;
            gap: 10px;
            li{
                font-size: 12px;
                a{
                    font-size: 12px;
                }
            }
        }
    }
    .instagramLogo {
        width: 20px;
        padding: 3px;
    }
    .facebookLogo {
        width: 20px;
        padding: 3px;
    }
}